<%-include('../partials/header')%>

<div class="Trades">
    <div class="card">
      <div class="container">
        <h3>About Us</h3> 
        <p>this website was created to demonstrate Trading functionality with Gadgets.</p>
        <p>Developed by SaiDatta Bhaskararayuni</p>
        <p>For UNCC class: ITIS 5166</p>
        <p>Welcome All!</p>
    </div>
</div>
</div>
    <%-include('../partials/footer')%>