<%-include('../partials/header')%>

<div class="Trades">
    <div class="card">
      <div class="container">
        <h3><%=error.status%>Error</h3> 
        <p><%=error.message%></p>
    </div>
</div>
</div>
    <%-include('../partials/footer')%>