<div  class="footer">
    <p class="footer_left">
        <a href="/trades">© Gadgetsy</a>
        <a href="/site/about" >ABOUT</a> 
        <a href="/site/contact" >CONTACT</a>
        <div class="footer-content-right">
            <a href="https://github.com/digitalocean"><img src="/images/twitter.png" class="icon-style" alt="Github icon"></a>
            <a href="https://www.twitter.com/DigitalOcean"><img src="/images/facebook.png" class="icon-style" alt="Twitter icon"></a>
            <a href="https://www.twitter.com"><img src="/images/instagram.png" class="icon-style" alt="Emailicon"></a>
          </div>
</div>

 
</body>
</html>