<%- include('./partials/header') %>
       
<div class="welcome" >
    <div class="welcome-img"></div>
        <h1> <strong>Gadgetsy</strong> </h1>
        <h2>Online Gadgets Trading!!</h2>
        <h2><font face="Monotype Corsiva"> Your Gateway to Bigger Profits!! </font></h2>
        <p>This is a unique platform designed to trade gadgets like Mobiles, Laptops, 
            speakers and many more. Get Started by clicking New Gadget! 
        </p>
</div>
<%- include('./partials/footer') %>








    